<?xml version='1.0' encoding='utf-8'?>

<launch>

    <!-- 机械臂初始化状态  -->
  <node pkg="dobot" type="Dobot_server_pick_up" name="robot_init_server" />
  <node pkg="dobot" type="Dobot_client_pick_up" name="robot_init_client" />

    <!-- 物体的抓取  -->
  <node pkg="dobot" type="pick_up_s" name="object_pick_server" />
  <node pkg="dobot" type="pick_up_c" name="object_pick_client" />


    <!-- 物体的放置  -->
  <node pkg="dobot" type="Dobot_server_drop_off" name="object_drop_server" />
  <node pkg="dobot" type="Dobot_client_drop_off" name="object_drop_client" />

</launch>