<?xml version='1.0' encoding='utf-8'?>
<launch>

    <!-- 启动机械臂  -->
  <node pkg="dobot" type="DobotServer" name="DobotServer" args="ttyUSB2" />

    <!-- 初始化机械臂位置  -->
  <node pkg="dobot" type="Dobot_object_fin" name="Dobot_object_fin" />

    <!-- 启动相机节点  -->
  <!--include file="$(find usb_cam)/launch/usb_cam-test.launch"/-->

    <!-- 启动人脸识别节点  -->
    <!--node pkg="object_detect" name="object" type="object.py" output="screen">   
        <remap from="input_rgb_image" to="/usb_cam/image_raw" />      
    </node-->

  <!--include file="$(find castle_voice_system)/launch/voice_object.launch"/-->


    <!-- 启动订阅cv_bridge_image话题  -->
    <!--node name="rqt_image_view" pkg="rqt_image_view" type="rqt_image_view" args="/usb_cam/image_raw"/-->

</launch>
