<?xml version='1.0' encoding='utf-8'?>
<launch>

  <!-- Run the map server -->
 <arg name="map_file" default="$(find castlex_2dnav)/maps/ridgeback_race.yaml"/>
 <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <!--- Run AMCL -->
 <include file="$(find castlex_2dnav)/launch/include/amcl.launch" />

  <!--- Run Move Base -->
 <include file="$(find castlex_2dnav)/launch/include/move_base.launch" />

</launch>
