<?xml version = "1.0"?>
<launch>
    <!--打开语音唤醒-->
    <!-- include file="$(find snowboy_ros)/launch/snowboy.launch"/ -->
    <include file="$(find xf_awake)/launch/castle_awake.launch"/>
    <!--打开命令词识别-->
    <node pkg = "castle_voice_system" type = "object_order_node" name = "object_order_node" output="screen"/>
    <!--打开命令词解析-->
    <node pkg = "castle_voice_system" type = "object_detect.py" name = "XML_Analysis" output="screen">
    <param name="file_path" value="$(find castle_voice_system)/params/objectDetect.xml" />
    </node>
</launch>
